
// .personalModal{
//     background: $light-navy;
//     color: white;
// }

.css-1t1j96h-MuiPaper-root-MuiDialog-paper{
    background-color: $light-navy !important;
    width: 90%;
    max-width: 500px;
    text-align: center;
}

